
.tooltip {
  position: relative;
  display: inline-block;
}


.tooltiptext {
    
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: red;         
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}

.app{
    margin: 100px ;
}