
.app {
  margin: 100px;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.tooltiptext {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.tooltip:hover .tooltiptext {
  opacity: 1;
}
